@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*, *::befor, *::afetr{
	box-sizing: border-box;
}
.scroll-bar::-webkit-scrollbar {
	display: none;
}
html {
	scroll-behavior: smooth;
  }
body{
	padding:0px;
	margin:0px;
	height: 100%;
	width:100%;
	background: #101010;
	position: relative;
	font-family: 'Poppins','Lora',serif;
}

.bgimp{
	display:block;
	width:100%; 
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;
}
.bgimp-mob{
	display: none;
	margin-left:0px;
	width:100%; 
	background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	overflow-y: auto;

}
/* effect after scroll */

.scrolling-active{
	background-color: 	#070707;
	transition: 0.5s ease-out;
	box-shadow: 0 3px 1rem rgba(0,0,0,0.1);
}

/* effect after scroll end */

.welcome{
	font-size: 1.6em;
	font-weight: 500;
	color: #ffffff;
}

.text-musc {
	color:#ffffff;
	font-size:35px;
	font-weight: 100;
	position: absolute;
	left: 20%;
	margin-left: -225px;
	height: 40px;
	top: 10%;
	margin-top: -20px;
  }
  .div p span{
	font-size: 1em;
	font-weight: 500;
	font-style: italic;
  }
  p {
	display: inline-block;
	vertical-align: top;
	margin: 0;
  }
  
  .word {
	position: absolute;
	opacity: 0;
  }
  
  .letter {
	display: inline-block;
	position: relative;

	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
	transform: rotateX(-90deg);
  }
  
  .letter.in {
	transform: rotateX(0deg);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .stamina {
	color: #c02b2b;
  }
  
  .muscle {
	color: #c02b2b;
  }
  
  .performance {
	color: #c02b2b;
  }
  
  .LEVEL {
	color: #c02b2b;
  }

.home-btn a {
	font-size: 20px;
    border: 1px solid #EC3642;
    color: #e0dfdf;
    text-decoration: none;
    padding: 7px 20px;
    margin-right: 15px;
    display: inline-block;
    margin-top: 15px;
}
.home-btn a.active {
    background: #EC3642;
}
.home-btn a.active:hover{
	background: #b42626;
	transition: 0.70s;
}
.home-btn a.active1:hover {
	color:#ffffff;
	border: 1px solid  #9c2020;

}


/*  */





.bg-img-hp{
	margin:0;
	padding: 0;
	height:1020vh;

}
.brand-logo-name{	
	margin:0 50px;
	display:flex;
	min-height: 7vh;
	align-items:center;
	font-size:2rem;
	text-decoration: none;
	font-weight: 500;
	color: whitesmoke;
}

.brand-logo-area{
	padding:0;
	min-height: 7vh;
	background-color:#DF2F32;
}
nav{
	display:flex;
	justify-content: space-around;
	align-items: center;
	min-height: 7vh;
	/* background-color: ; */
	font-family: 'Poppins','Lora',serif;
	
}
.nav-links{
	display:flex;
	margin:0;
	padding:0;
}
.nav-links li{

	list-style: none;
}
.nav-links a{
	
	text-decoration: none;
	align-items: center;
	color: whitesmoke;
	text-decoration: none;
	font:bold;
	margin-right:1.5rem;
	margin-left: 1.5rem;
	min-height: 7vh;
	letter-spacing: 1px;
}
.nav-links :last-child{
	margin-right: 40px;
	margin-top: -3px;
}

.nav-links a:hover{
	color: #e42529 !important;
	font-weight: 400;
}
.main-header{
	display:flex;
	background-color:'';
	justify-content: space-between;
	align-items: center;
	min-height: 7vh;
	padding: 0px;
	position: fixed;
	width:100%;
	top:0;
	z-index:1;
	/* filter: drop-shadow(10px 0px 0px rgba(0, 0, 0, 1));
	box-shadow: 0px 1px 2px; */
}


.Icon_metro-cart_bj {
	color:white;
	overflow: hidden;
	position: relative;

	width: 30.901px;
	height: 35.617px;
	transform: matrix(1,0,0,1,0,0);
}
.profile{
	height:35px;
	width:35px;

	cursor:pointer;
}

#cart{
	display:none;
}
.burgers{
	display:none;
}
.burgers div{
	width:25px;
	height:3px;
	margin:5px;
	background-color: white;
	transition:all 0.7s ease;
}


@media screen and (max-width:1800px){
	.nav-links a{
		margin:1.35rem;	
	}
	.welcome{
		font-size: 1.3em;
		font-weight: 450;
		color: #ffffff;
	}
	
	.text-musc {
		color:#ffffff;
		font-size:30px;
		font-weight: 90;
		position: absolute;
		left: 25%;
		margin-left: -225px;
		height: 40px;
		top: 10%;
		margin-top: -20px;
	  }
	  .div p span{
		font-size: 1em;
		font-weight: 500;
		font-style: italic;
		
	  }
}
@media screen and (max-width:1700px){
	.nav-links a{
		margin:1.20rem;
		font-size: 20px;	
	
	}

}
@media screen and (max-width:1600px){
	.nav-links a{
		margin:1.05rem;
		font-size: 20px;	
	
	}
}
@media screen and (max-width:1500px){
	.nav-links a{
		margin:0.95rem;
		font-size: 18px;	
	
	}
	.welcome{
		font-size: 1.3em;
		font-weight: 450;
		color: #ffffff;
	}
	
	.text-musc {
		color:#ffffff;
		font-size:30px;
		font-weight: 90;
		position: absolute;
		left: 26%;
		margin-left: -225px;
		height: 40px;
		top: 8%;
		margin-top: -20px;
	  }
	  .div p span{
		font-size: 1em;
		font-weight: 500;
		font-style: italic;
		
	  }
}
@media screen and (max-width:1400px){
	.nav-links a{
		margin:0.80rem;
		font-size: 18px;	
	
	}
}
@media screen and (max-width:1300px){
	.nav-links a{
		margin:0.65rem;
		font-size: 18px;	
	}

	
	.text-musc {
		top: 6%;
	  }

}
@media screen and (max-width:1300px){
	.nav-links a{
		margin:0.50rem;
		font-size: 16px;	
	
	}
}
@media screen and (max-width:1200px){
	.nav-links a{
		margin:0.35rem;
		font-size: 16px;	
	
	}
	.text-musc {
		top:5%;
		left:30%
	}


}

@media screen and (max-width:1140px){
	#hp-bg-img-mob{
		margin-top: 7vh;
		widows: 100%;
	}
	.bgimp{
		display:none;
	}
	.bgimp-mob{
		display: block;
	}
	body{
		overflow-x: hidden;

	}
	.main-header{
		display:flex;
		background-color:rgb(12,12,12);
	}

	.brand-logo-area{
		padding:0;
		min-height: 7vh;
		/* padding-left: -30px; */
		background-color:rgb(12,12,12,0.78);
	}
	.brand-logo-name{
		/* width:100%; */
		text-align: center;
		/* margin-right: 75px; */
	}
	.nav-links{
		position:absolute;
		right: 0px;
		height:100vh;
		top:7vh;
		background-color: rgba(12, 12, 12, 0.856);
		color:white;
		width:100%;
		margin:0;
		padding: 0px; 
		display: flex;
		flex-direction: column;
		align-items: center;
		transform: translateX(100%);
		transition: transform 0.4s ease-in;              
		justify-content: center;
		filter: opacity(0.989);
	}
	.nav-links li{
		margin: 35px;
		opacity: 0;
	}
	.nav-links a{
		font-size: 18px;
	}
	.nav-links a:hover{
		font-size: 18.5px;
		color: #ff0509
	}
	.Icon_metro-cart_bj{
		display:none;
	}
	#cart{
		display: block;
		margin:0px;
		padding:0px;
		margin-right:35px;
		margin-top: 30px;
	}
	.burgers{
		position: absolute;
		right:6%;
		display:block;
		cursor:pointer;
		transform: translate(-50%);
		position: fixed;
		overflow-y: hidden;
	}

	.welcome{
		font-size: 1.1em;
		font-weight: 400;
	}
	.text-musc {
		font-size:25px;
		font-weight: 50;
		left: 32%;
		height: 40px;
		top:6%;
	}
	  span{
		font-size: 1em;
		font-weight: 500;		
	  }
}

@media screen and (max-width:860px){
	.welcome{
		font-size: 0.9em;
		font-weight: 400;
	}
	div p,h6{
		font-size: 0.7em;
	}
	.text-musc {
		left: 39%;
		top: 6%;
	}

}



.container{
	max-width:100%;
	margin:0;
	padding:50px 200px;
	height:100%;
}
.full-height-grow{
	display:flex;
	flex-direction:column;
}
.nav-active{
	transform: translateX(0%);
}

@keyframes navLinkFade{
	form{
		opacity: 0;
		transform: translate(50px);
	}to{
		opacity: 1;
		transform: translate(0px);
	}
}
.toggle .line-1{
	transform: rotate(-45deg) translate(-6px,6px);
}
.toggle .line-2{
	opacity: 0;	
}
.toggle .line-3{
	transform: rotate(45deg) translate(-6px,-6px);	
}

/* NAVIGATION */


/* --------------------------------------------------------------------------------------------------------------- */



/* LOGIN MODAL */
.bg-modal-login{
	width: 100%;
	height:100vh;
	background-color: rgba(0,0,0,0.75);
	position:absolute;
	top:0;
	justify-content: center;
	align-items: center;
	display:none;
}
.modal-content{
	width:475px;
	height:700px;
	background-color: white;
	border-radius: 3.5%;
	text-align: center;
	position:relative;
}

input{
	top:50%;
	font-size: medium;
	width:62%;
	display:absolute;
	outline: black;
	height:50px;
	margin:15px auto;
	padding: 0;
	border-bottom:1px solid #000000 !important;
	transition: 0.1s;
	border: none;
}
.input-login  .login-pass{

	position: absolute;
	left:20%;
	top:48%;
	width:60%;
}
.input-login  .login-email{

	position: absolute;
	left:20%;
	top:38%;
	width:60%;
}

.login-title{

	position: absolute;
	top:28% !important;
	left:42.5%;
	font-size: 28px;
	font-weight: bold;
}
input:hover{
	border-bottom:1px solid #ee2828 !important;

}
.input-login .login-btns{
	position: absolute;
	background-color:#0C0C0C;
	border: #686868;
	color:white;
	top:60%;
	left:20%;
	width:63%;
	transition: 0.25s;
	background-color: linear-gradient(to right,black,white);
	box-shadow: 1px 1px 5px 2px rgb(224, 224, 224);
	border-radius: 30px;
	cursor: pointer;
}
.login-btns:hover{
	background-color: #C71F1F;
	transition: 0.5s;
}
.login-email .login-pass{
	background:transparent;
	width:100%;
	padding:10px 0;
	margin: 5px 0;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-bottom: 1px solid #9999;
	outline:none;

}


.forgot-pass{
	color: rgb(0, 153, 255);
	font-size: 15px;;
	position: absolute;
	bottom:26.5%;
	right:19%
}
#close-login-btn{
	position:absolute;
	top:2.5%;
	right:7%;
	font-size: 200%;
	cursor: pointer;
}
.dont-ve-acc{
	position: absolute;
	font-size: 18px;
	bottom:2%;
	left:23%;
}

.input-login .continue-log{
	position: absolute;
	margin:auto 10px;
	top:79%;
	left:18%;
	background-color:#b8b8b8;
	border: #686868;
	color:white;
	width:63%;
	transition: 0.25s;
	border-radius: 30px;
	cursor: pointer;
}

.continue-log:hover{
	background-color: #cc3e3e;
	transition: 0.2s;
}
.input-login label{
	position: absolute;
	top:80.5%;
	opacity: 0.85;
	left:28%;
	transition: 0.25s;
	pointer-events: none;
	font-weight: 500;
}

.login-social{
	position: absolute;
	top:80.5%;
	right:28%;

	transition: 0.25s;
	pointer-events: none;
}

/* LOGIN */

/* -------------------------------------------------------------------------------------- */

/* SIGNIN */

.bg-modal-signin{
	width:100%;
	height:100vh;
	background-color: rgba(0,0,0,0.75);
	position:absolute;
	top:0;
	justify-content: center;
	align-items: center;
	display:none;
}

.modal-content-signin{
	position: absolute;
	width:475px;
	height:700px;
	background-color: white;
	border-radius: 3.5%;
	text-align: center;
	display: flex;
	flex-direction: column;

}
h3{
	font-size: 150%;
	margin:13% auto 5%;
}
.input-signin{
	margin-top:20%;
	width:100%;
	display:block;
	margin:7.5px auto;
	border:none;
}
.email-signin .pass-signin{
	margin:0px;
	padding:0px
}
.signin-btns{
	background-color:#0C0C0C;
	border: #686868;
	color:white;
	width:63%;
	transition: 0.25s;
	box-shadow: 1px 1px 5px 2px rgb(224, 224, 224);
	border-radius: 30px;
	cursor: pointer;
}
.signin-btns:hover{
	background-color: #C71F1F;
	transition: 0.2s;
}
.terms-n-privacy{
	color: rgb(0, 153, 255);
}
#close-sign-btn{
	position:absolute;
	top:2.5%;
	right:7%;
	font-size: 200%;
	cursor: pointer;
}
.agreement .terms-n-privacy{
	text-align: justify; /* For Edge */
  	-moz-text-align-last: justify; /* For Firefox prior 58.0 */
  	text-align-last: justify;
	font-size: 14px;
	font-style: inherit;
}
.agreement{
	padding: 0 15%;
	font-size: 15px;
}
.continue-sign{

	position: absolute;
	margin:auto 10px;
	top:79%;
	left:18%;
	background-color:#b8b8b8;
	border: #686868;
	color:white;
	width:63%;
	transition: 0.25s;
	border-radius: 30px;
	cursor: pointer;
}
.continue-sign:hover{
	background-color: #cc3e3e;
	transition: 0.2s;
}
.input-signin label{
	position: absolute;
	left:28%;
	opacity: 0.85;
	top:80.5%;
	pointer-events: none;
	font-weight: 500;
}

.log-social{
	position: absolute;
	top:80.5%;
	right:28%;

	transition: 0.25s;
	pointer-events: none;
}

.back-to-login{
	position: absolute;
	font-size: 18px;
	font-weight: 400;
	bottom:02%;
	left:19.95%;
	
}

/* SIGNIN */
.about-area {
    background: #101010;
}
.section-padding {
    padding: 80px 0;
}
.line1 {
    height: 2px;
    width: 100px;
    background: #EC3642;
    display: inline-block;
    margin-top: 15px;
}
.about-main{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.about-main h3 b span {
    color: #EC3642 !important;
}
.about-area {
    background: #101010;
}
.about-video .single-video img {
    width: 100%;
}
.about-main h2,h3 {
    font-size: 26px;
    text-transform: none;
    line-height: 1.3;
    font-weight: 600;
    word-spacing: 0.25px;
    margin: 0;
    color: #fff;
}
.about-area .single-about p {
    margin: 12px 0;
    color: #fff;
}
.about-main p {
    letter-spacing: 0;
    line-height: 1.8;
}
.about-main a {
    background-color: #EC3642;
    color: #ffffff;
    padding: 7px 20px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 5px;
}

.about-main a:hover {
	background-color: #C71F1F;
	transition:0.75s;
}
.about-video .single-video {
	position: relative;
	
}
.about-video .single-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 100%;
    margin-left: -25px;
    margin-top: -25px;
    color: #fff;
    cursor: pointer;
    width: 50px;
    transition: 0.9s;
    height: 50px;
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
}
.about-video .single-video i {
    background: #EC3642;
}
.about-video .single-video i:hover{
	background-color: #C71F1F;
	transition:0.75s;
} 




/* OUR TRAINERS */

.section-header h2 {
    margin-bottom: 20px;
    color: #fff;
}
.section-header {
    margin-bottom: 60px;
    text-align: center;
}
.single-team:hover img {
    opacity: 0.3;
    transition: 0.7s;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
}

.team-text h2 {
    color: #fff;
    font-size: 25px;
}

.h2, h2 {
    font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}
.team-text h5 {
    color: #EC3642;
    text-transform: uppercase;
}

.h5, h5 {
    font-size: 14px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-team:hover img {
    opacity: 0.3;
    transition: 0.7s;
}
img {
    max-width: 100%;
    height: auto;
}
img {
    border-style: none;
}
img {
    vertical-align: middle;
}
.col-md-3 {
    width: 25%;
}
.single-team:hover .team-text {
    visibility: visible;
}
.single-team .team-text {
    position: absolute;
    bottom: 25px;
    left: 10%;
    visibility: hidden;
}


/* SERVICE */
.single-service {
    text-align: center;
    color: #fff;
}
.services-text h2 {
	color: #fff;
	font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
}
.services-text p{
	color:#fff;
}
.single-service:hover .service-icon {
    background: #EC3642;
    transition: .5s;
}
.service-icon {
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid #EC3642;
    border-radius: 50%;
}

.single-service:hover .services-text a {
    background: #EC3642;
    transition: .5s;
}
.services-text a {
    text-decoration: none;
    display: inline-block;
    border: 1px solid #EC3642;
    padding: 7px 15px;
    color: #fff;
	margin-top: 15px;
	margin-bottom: 20px;
}




/* --------------------------------------------------------------------------------------------------------------- */


/* FOOTER */
footer{
	margin:0;
	padding:0;
	bottom:0px;
	width:100%;
	color:#d3d3d3;
	background: rgb(7,7,7);
}
.footer-contents{
	display:flex;
}
.footer-contents .box{
	flex-basis:50%;
	padding:10px 20px;

}

.footer .footer-copyright{
	background:#343a40;
	color: #686868;
	height:50px;
	text-align: center;
	position: absolute;
	bottom:0px;
	left:0px;
	padding:10px;
	width:100%;
} 
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.about-content{
	display: absolute;
	flex-direction: column;
	list-style: none;	
}
.about-content a, .social a{
	color:#d3d3d3;;
}
.box h2{
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 100%;
	background: #1a1a1a;
  }

  .box .content:after{
	position: absolute;
	content: '';
	height: 2px;
	width: 15%;
	background: #f12020;
	top: -10px;
  }
.right .content p{
  text-align: justify;
}
.right .content .social{
  margin: 20px 0 0 0;
}
.right .content .social a{
  padding: 0 2px;
}
.right .content .social a span{
  height: 40px;
  width: 40px;
  background: #1a1a1a;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.3s;
}
.right .content .social a span:hover{
  background: #f12020;
}
.right .content .fas{
  font-size: 1.4375rem;
  background: #1a1a1a;
  height: 45px;
  width: 45px;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
}
.right .content .fas:hover{
  background: #f12020;
}
.center .content .text{
  font-size: 1.0625rem;
  font-weight: 500;
  padding-left: 10px;
}
.center .content .phone{
  margin: 15px 0;
}


@media screen and (max-width: 900px) {

footer{
	font-size: 12px;
	bottom: 0%;
	bottom:0px;
	width:100%;
	color:#d3d3d3;
	background: rgb(7,7,7);
}
.center .content .text{
	font-size: 13px;
}
  .main-content{
    flex-wrap: wrap;
    flex-direction: column;
  }
  .main-content .box{
    margin: 5px 0;
  }
}
/* FOOTER */
/* --------------------------------------------------------------------------------------------------------------- */
.buttons {

	justify-content: space-around;
	position: relative;
	margin: 0 auto 10px auto;
	padding: 5px;
	float: left;
	display: block;
	background-color: #1a1a1a;
	border-radius: 10px;
}
.buttons:after {
	top: 100%;
	left: 50%;
	border: solid transparent;	width: 0;
	position: absolute;
	pointer-events: none;
	border-width: 10px;
	margin-left: -10px;
}
.button {
	padding: 5px 5px;
	font-weight: bold;
	letter-spacing: 0px;
	outline: none;
	cursor: pointer;
	color: white;
	background-color: #898a8a;
	border: none;
	border-radius: 10px;
}
#play-button {
	background-color: #686868;
}
#play-button:hover {
	background-color: #c02b2b;
}
#pause-button {
	background-color: #686868;
}
#pause-button:hover {
	background-color: #c02b2b;
}
#normal-button {
	background-color: #686868;
}
#normal-button:hover {
	background-color: #c02b2b;
}
#full-button {
	background-color: #686868;
}
#full-button:hover {
	background-color: #c02b2b;
}
#pause-button,
#stop-button {
	margin-left: 5px;
}











